body {
	background-color: #d6dbdf;
	font-family: sans-serif;
}

.wrapper{
	background-color: white;
	width: 50%;
	margin: 30px auto 50px auto;
	padding: 20px;
	border-radius: 10px;
}

.section:first-of-type {
	border-bottom-width: 4px;
	padding: 0px;
}

.section {
	padding-bottom: 50px;
	margin: 0px 20px 50px;
	border-bottom: 2px solid #d6dbdf;
}

h1 {
	font-weight: bold;
	font-size: 40pt;
	color: #d6dbdf;
	margin: 25px 0px;
}

h2 {
	font-weight: bold;
}

p{
	margin: 20px 0px;
	line-height: 1.2em;
}

span {
	font-family: monospace;
	background-color: #d6dbdf;
	padding: 0px 5px;
}

.block {
	display: inline-block;
	width: 75px;
	padding: 30px 0px;
	background-color: #d6dbdf;
	margin-right: 5px;
	border-bottom: 2px solid #839090;
	border-radius: 5px;
	color: #839090;
}

.block h2{
	text-align: center;
}

.special {
	background-color: #fe5627;
	color: #af3f21;
	border-color: #af3f21;
}

a{
	background-color: #fe5627;
	color: #af3f21;
	text-decoration: none;
	font-weight: bold;
	font-size: 20pt;
	text-align: center;
	display: block;
	padding: 50px;
	width: 50%;
	border-radius: 5px;
}

a:hover{
	background-color: #af3f21;
	color: #fe5627;
}